* {
	margin: 0;
	padding: 0;
    list-style: none;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
}

a:visited {
    color: inherit; /* Ensure visited links have the same color */
}

a:hover, a:focus {
    color: inherit; /* Keep the same color on hover and focus */
    text-decoration: none; /* Ensure no underline on hover and focus */
}

:root{
    --prim-color: #7900C2;
    --seco-color: #2B2B2B;
    --tert-color: #1E1E1E;
}

body{
    font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto do Google Fonts */
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

a div:hover{
    color: var(--prim-color);
}
.projects h1{
    margin-bottom: 50px;
}

.projects a{
    margin: 5px;
}

.projects_view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects_view_desc{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    gap: 20px;
}

.projects_view_desc img{
    width: 500px;
    height: 300px;
}

.projects_view_tech{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects_view_tech_desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .projects{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects_view{
        gap: 50px;
    }

    .projects_view h2{
        max-width: 80%;
        text-align: center;
    }

    .projects_view_desc{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
    }

    .projects_view_desc img{
        max-width: 100%; /* Define a largura máxima como 100% do contêiner */
        height: auto;
    }
}